[submodule "blockchain-app"]
	path = blockchain-app
	url = ./blockchain-app
[submodule "smart_contract"]
	path = smart_contract
	url = ./smart_contract
[submodule "blockchain-frontend"]
	path = blockchain-frontend
	url = ./blockchain-frontend
